@import '../common.scss';

.Layout__header {
  box-sizing: content-box;
  padding: 16px;
  background-color: $main-color;

  &__logo {
    display: inline-block;
    width: 96px;
    height: 40px;
    a,
    img {
      display: block;
    }
  }
  &__login-btn,
  &__register-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    margin-left: 8px;
  }
}
