@import '../_common.scss';

.MenuContent {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  .PhotoMenu {
    &__content {
      margin: 4px;
      padding: 8px;
      display: inline-block;
      border: 1px solid $border-color;
      &__img {
        width: 138px;
      }
      &__name {
        font-size: 1.4rem;
        font-weight: 700;
        text-overflow: ellipsis;
      }
      &__price {
        font-size: 1.2rem;
      }
    }
  }

  // .RestOfMenu {
  //   &__list {
  //     &__item {
  //       height: 104px;
  //     }
  //   }
  // }
}
