@import '../_common.scss';
// 모달 관련 CSS
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100 %;
  height: 100 %;
  background: rgba(0, 0, 0, 0.2);
}

.Modal__main {
  position: absolute;
  background: white;
  width: 100 %;
  height: 100 %;
  top: 0;
  left: 0;
  bottom: 0;
  // transform: translate(-50%, -50%);
}

.display - block {
  display: block;
}

.display - none {
  display: none;
}
